/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */
.super{
	width: 100%; }
	
#header{
	background-color: #f4f4f4;
	margin-bottom: 2em; }
	
nav.main-menu{
	box-sizing:border-box;
	display:inline;
	float:right; }
	.main-menu ul{
		text-align: center;
		padding: 10px;
		margin-top:10px;
		display: inline-block; }
		.main-menu ul li{
			padding-right: 15px;
			border-right: solid 1px #CCCCCC;
			display: inline;}
			.main-menu ul li a{
				display: inline-block; }
			.main-menu ul li.social{
				border:none;
				font-size:16px;
				padding-left:10px; }
	
nav.mobile-menu{
	display:none !important;
	box-sizing:border-box;
	display:inline;
	float:right; }
	.mobile-menu ul{
		margin-top:13px;
		margin-right:5px; }
		.mobile-menu ul li{
			font-size:32px;
			color:#2f2f2f; }

nav.side-menu{ text-align: left; }
	nav.side-menu li{
		margin-bottom:2px; }
	nav.side-menu a{
		width: 100%;
		border-left: solid 5px #099dc8;
		padding-top: 1em;
		padding-bottom: 1em;
		padding-left: 3em;
		background-color:#333;
		display:inline-block;
		color:#ececec;
		text-decoration:none; }
		nav.side-menu a i{
			padding-right:1em;
			font-size:20px; }


hr.dark { border: solid #333; border-width: 1px 0 0; clear: both; margin: 10px 0 30px; height: 0; }
.bottom-shadow{ box-shadow: 0px 3px 6px -1px rgba(0, 0, 0, 0.2); }

/* #Page Styles
================================================== */

/* forms */
input.main-search{
	font-family: ionicons; 
	width: 60%;
	display: block;
	margin: 0 auto; }

button.main-search-button{
	display:inline;
	font-size: 14px;
	font-weight:600; }
	
#header-tittle{
	font-family: 'Anaheim', sans-serif; 
	display:inline !important; }
	#header-tittle i{
		font-size:16px; }

	

	
/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {


	}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {

	}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
		
		.main-menu{
			display: none !important; }
			
		.main-content{
			text-align: justify !important; }
			
		nav.mobile-menu{
			display:inline !important; }
		
		#header-tittle{
			font-size:32px;
			font-weight:600;
			line-height:48px; }
		
		#header {
			max-height: 60px; }
			
		.mobile-menu ul{
			margin:10px; }
			
		i.displayonly-on-mobile{
			display:inline-block !important;
			padding-right:5px; }
			
		hr.displayonly-on-mobile{
			display: block !important; }
			
			
	}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {

		.container {
			padding:10px; }
			
		input.main-search{
			width: 75%; }
			
		#header-tittle{
			font-size:24px;
			font-weight:600;
			line-height:32px; }
		
		#header {
			max-height: 50px; }
			
		.mobile-menu ul{
			margin:0; }
			
	}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/