/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */
#header{
	margin-top: 30px; }

.bottom-shadow{
	box-shadow: 0px 10px 10px -10px rgba(0, 0, 0, 0.1); }

nav.main-menu{
	box-sizing:border-box;
	display:inline;
	float:right; }
	.main-menu ul{
		text-align: center;
		padding: 10px;
		margin-top:10px;
		display: inline-block; }
		.main-menu ul li{
			padding-right: 15px;
			border-right: solid 1px #CCCCCC;
			display: inline;}
			.main-menu ul li a{
				display: inline-block; }
			.main-menu ul li.social{
				border:none;
				font-size:16px;
				padding-left:10px; }
	
nav.mobile-menu{
	display:none !important;
	box-sizing:border-box;
	display:inline;
	float:right; }
	.mobile-menu ul{
		margin-top:13px;
		margin-right:5px; }
		.mobile-menu ul li{
			font-size:32px;
			color:#999; }

nav.side-menu{ text-align:center; }
	nav.side-menu a{
		box-sizing:border-box;
		max-width:70%;
		border-radius: 3px;
		padding: 1em 0 1em;
		background-color:#333;
		margin:0 auto;
		display:block;
		color:#FFF;
		text-decoration:none; }
		nav.side-menu a.social-mobile{
			max-width: 50px;
			max-height:50px;
			border-radius: 50%; }

hr.dark { border: solid #333; border-width: 1px 0 0; clear: both; margin: 10px 0 30px; height: 0; }

/* #Page Styles
================================================== */

/* forms */
input.main-search{
	font-family: ionicons; 
	width: 60%;
	display: block;
	margin: 0 auto; }

button.main-search-button{
	display:inline;
	font-size: 14px;
	font-weight:600; }
	
#header-tittle{
	font-family: 'Anaheim', sans-serif; 
	display:inline !important; }
	

	
/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
		
		.main-menu{
			display: none !important; }
			
		.main-content{
			text-align: justify !important; }
			
		nav.mobile-menu{
			display:inline !important; }
	}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {

		.container {
			padding:10px; }
			
		input.main-search{
			width: 75%; }
			
	}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/