@charset "utf-8";
/* CSS Document */

/***************************************************
*--------------------------------------------------- 
       Reset & Basics (Inspired by E. Meyers)
* --------------------------------------------------
***************************************************/  

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline; }
	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block; }
	body {
		line-height: 1; }
	ol, ul {
		list-style: none; }
	blockquote, q {
		quotes: none; }
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none; }
	table {
		border-collapse: collapse;
		border-spacing: 0; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  padding-bottom: 1px; }
  
  
/***************************************************
*--------------------------------------------------- 
            Unsemantic grid base no IE7
* --------------------------------------------------
***************************************************/ 

@media screen and (max-width: 400px) {
  @-ms-viewport {
    width: 320px; }
}
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; }

.grid-container:before, .clearfix:before,
.grid-container:after,
.clearfix:after {
  content: ".";
  display: block;
  overflow: hidden;
  visibility: hidden;
  font-size: 0;
  line-height: 0;
  width: 0;
  height: 0; }

.grid-container:after, .clearfix:after {
  clear: both; }

.grid-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  padding-left: 10px;
  padding-right: 10px; }

.grid-5, .mobile-grid-5, .grid-10, .mobile-grid-10, .grid-15, .mobile-grid-15, .grid-20, .mobile-grid-20, .grid-25, .mobile-grid-25, .grid-30, .mobile-grid-30, .grid-35, .mobile-grid-35, .grid-40, .mobile-grid-40, .grid-45, .mobile-grid-45, .grid-50, .mobile-grid-50, .grid-55, .mobile-grid-55, .grid-60, .mobile-grid-60, .grid-65, .mobile-grid-65, .grid-70, .mobile-grid-70, .grid-75, .mobile-grid-75, .grid-80, .mobile-grid-80, .grid-85, .mobile-grid-85, .grid-90, .mobile-grid-90, .grid-95, .mobile-grid-95, .grid-100, .mobile-grid-100, .grid-33, .mobile-grid-33, .grid-66, .mobile-grid-66 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 10px;
  padding-right: 10px; }

.grid-parent {
  padding-left: 0;
  padding-right: 0; }

  
/***************************************************
*--------------------------------------------------- 
                      Basic styles
* --------------------------------------------------
***************************************************/  

body {
position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
	height: 100%;
	font-size: 100%;
	color: #555;
	background-color:#222; }
a {
	color: #FFFFFF;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	text-decoration: none; }
img {
	width:100%; }
	
	
/***************************************************
*--------------------------------------------------- 
                      Helper classes
* --------------------------------------------------
***************************************************/  

.pull-right {
  float: right !important; }

.align-center{
	text-align:center; }
		
.padding-reset{
	padding:0 !important; }


/***************************************************
*--------------------------------------------------- 
                      Typography
* --------------------------------------------------
***************************************************/  

h1, h2, h3, h4, h5, h6 {
	font-size: 1em;
	font-weight: bold; }

h1 {
	font-size: 4.25em; /* 68px */
	line-height: 1.1471em; }

h2 {
	font-size: 2.625em; /* 42px */
	line-height: 1.2381em;
	margin: 0 0 0.619em; }

h3 {
	font-size: 1.625em; /* 26px */
	line-height: 1em;
	margin: 0 0 1em; }

small {
	font-size: 0.625em; /* 10px */
	margin: 0 0 2.6em; }
.subheader {
	color: #777; }

p {
	margin: 0 0 20px 0; }
	
p img { 
	margin: 0; }
	
p.lead { 
	font-size: 21px; 
	line-height: 27px; 
	color: #777;  }

em { font-style: italic; }

strong { font-weight: bold; color: #333; }

small { font-size: 80%; }

/*	Blockquotes  */
	blockquote, blockquote p { font-size: 17px; line-height: 24px; color: #777; font-style: italic; }
	blockquote { margin: 0 0 20px; padding: 9px 20px 0 19px; border-left: 1px solid #ddd; }
	blockquote cite { display: block; font-size: 12px; color: #555; }
	blockquote cite:before { content: "\2014 \0020"; }
	blockquote cite a, blockquote cite a:visited, blockquote cite a:visited { color: #555; }

	hr { border: solid #ddd; border-width: 1px 0 0; clear: both; margin: 10px 0 30px; height: 0; }
	
	
/***************************************************
*--------------------------------------------------- 
                      Forms
* --------------------------------------------------
***************************************************/

form {
  margin: 0 0 1.42857; }

legend {
  display: block;
  margin-bottom: 1.42857;
  padding: 0;
  width: 100%;
  border: 1px solid #dddddd;
  color: #444444;
  font-size: 21px;
  line-height: 2.85714; }
  legend small {
    color: #f8f8f8;
    font-size: 1.07143; }

label,
input,
button,
select,
textarea {
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857; }

input,
button,
select,
textarea {
	font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; }

.item-input .button .icon {
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 24px;
	-moz-box-flex: 0;
	-moz-flex: 0 0 24px;
	-ms-flex: 0 0 24px;
	flex: 0 0 24px;
	position: static;
	display: inline-block;
	height: auto;
	text-align: center;
	font-size: 16px; }
	
.item-input.item.active, .ionic-pseudo .item-input.item:active {
	border-color: #dddddd;
	background-color: transparent; }

.item-input-wrapper {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-flex: 1;
	-webkit-flex: 1 0;
	-moz-box-flex: 1;
	-moz-flex: 1 0;
	-ms-flex: 1 0;
	flex: 1 0;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	-moz-align-items: center;
	align-items: center;
	padding-right: 3px;
	padding-left: 3px;
	background: #eee; }

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
	display: block;
	height: 38px;
	color: #111111;
	font-size: 14px;
	line-height: 20px; }

input,
textarea {
	width: 100%; }

textarea {
	height: auto; }

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
	border: 0; }
  
  
/***************************************************
*--------------------------------------------------- 
                      Buttons
* --------------------------------------------------
***************************************************/

.button {
	color: #fff;
	background-color: #333333;
	padding: 1px 3em 0 3em;
	min-width: 52px;
	min-height: 42px;
	vertical-align: top;
	margin-top: 0.7em;
	text-align: center;
	text-overflow: ellipsis;
	font-size: 16px;
	cursor: pointer; }
	
.button:hover {
	color: #444444;
	text-decoration: none; }
	
.button.button-dark {
	color: white;
	background-color: #444444;
	border-color: transparent; }
	
.button.button-dark:hover {
	color: white;
	background-color: #333;
	text-decoration: none; }
  

/***************************************************
*--------------------------------------------------- 
                      Page styles
* --------------------------------------------------
***************************************************/
	
#brand{
	text-align: center;
	display: block;
	padding: 5em 0 1.3em;
	vertical-align: middle; }
	#brand img{
		max-width: 315px; }
		
.search-form{
	background-color:#0099cc;
	padding-bottom:4em; }
	.search-form form label{
        text-align: center;
		padding: 5px;
		max-width:40%;
		margin:0 auto; }
	.search-form form label input{
		display: block;
		position: relative; }
	.search-form .button{
		display: inline;
        position:relative; }


	

	