<?xml version="1.0" encoding="UTF-8" ?>

    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.phonegap.example"
        versionCode = "40" 
        version     = "1.0.0" >

      <name>Taxon</name>

      <description>
        Taxonomy application made easy. 
      </description>

      <author href="https://build.phonegap.com" email="ericmiguel@id.uff.br">
        Eric Miguel Ribeiro
      </author>

      <icon src="res/icon.png" />
      <gap:splash src="res/splash(ldpi).png" gap:platform="android" gap:density="ldpi" />
      <gap:splash src="splash/splash(mdpi).png" gap:platform="android" gap:density="mdpi" />
      <gap:splash src="splash/splash(hdpi).png" gap:platform="android" gap:density="hdpi" />
      <gap:splash src="splash/splash(xdpi).png" gap:platform="android" gap:density="xhdpi" />

      <preference name="phonegap-version" value="3.1.0" />

    </widget>